{%extends 'core/base.html'%}
{%block title%}Listado de Listas de Compras{%endblock%}
{%block content%}
<div class="container shadow container-whithe">
    <div class="row">
        <div class="col-12 text-center mt-3 mb-3">
            <h1>Listas de compras</h1>
            {%if suma_lista != 0%}
            <h3>La suma total de las listas es de {{suma_lista}}</h3>
            {%endif%}
            <hr>
        </div>
        <div class="col-12 mt-3 mb-4">
            <a href="{%url 'lista_compra:Agregar_ldc'%}" class="btn btn-success"><span data-icon="v"></span> Agregar nueva lista</a>
        </div>
    </div>
<!--ALERTS-->
    <div class="row">
        {%if request.GET.msg == 'crear_ldc_ok'%}
        <div class="col-12 text-center">
             <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h6 style="color: rgb(33, 95, 30);"><strong>Lista creada exitosamente</strong></h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {%elif request.GET.msg == 'upd_ldc_ok'%}
        <div class="col-12 text-center">
             <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h6 style="color: rgb(33, 95, 30);"><strong>Lista actualizada exitosamente</strong></h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {%elif request.GET.msg == 'eli_ldc_ok'%}
        <div class="col-12 text-center">
             <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h6 style="color: rgb(33, 95, 30);"><strong>Lista borrada exitosamente</strong></h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {%elif request.GET.msg == 'select_ldc_ok'%}
        <div class="col-12 text-center">
             <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h6 style="color: rgb(33, 95, 30);"><strong>Productos marcados existosamente</strong></h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {%elif request.GET.msg == 'upd_ldc_error'%}
        <div class="col-12 text-center">
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <h6 style="color: #dc3545;"><strong>La lista no pudo actualizarse, intentelo de nuevo mas tarde.</strong></h6>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {%endif%}
    </div>
<!--FIN ALERTS-->

    <form action=""  method="POST" class="list-unstyled row mt-2 mb-0 justify-content-center">
        {%csrf_token%}
       {%if listas.exists%}
        <div class="col-12 col-sm-10 mb-4 pl-2 pr-2">
            <input type="submit" class="btn btn-info" value="Sumar listas">
        </div>
            {% for obj in listas%}
                <!--El contenedor del listas-->
                <div class="col-12 col-sm-10 mb-4 pl-2 pr-2" data-aos="zoom-in-right">
                    <!--clase media-->
					<div class="media shadow rounded ">
                        <!--Contenedor de la imagen-->
						<div class="col-4 col-sm-3 p-2">
                            <a href="{%url 'lista_compra:detail_ldc' obj.id%}" ><img class="img-fluid rounded" src="/media/{{obj.local.logo}}"></a>
						</div>
                        <!--Contenedor del parrafo-->
						<div class="col-6 col-sm-8 p-2">
						  <div class="media-body">
                            <!--Titulo para Mobile-->
						    <p class="d-sm-none"><a href="{%url 'lista_compra:detail_ldc' obj.id%}" class="h6"><strong>{{obj.nombre}} ${{obj.total_lista}}</strong></a></p>
                              <!--Titulo para Pc-->
                            <p class="d-none d-sm-block"><a href="{%url 'lista_compra:detail_ldc' obj.id%}" class="h4"><strong>{{obj.nombre}}</strong></a></p>

						    <p class="small text-muted d-none d-sm-block">Fecha de Creacion: <strong>{{obj.fecha}}</strong></p>

                            <p class="d-none d-sm-block">Total de la lista: <strong>{{obj.total_lista}}</strong></p>

                            <p class="d-none d-sm-block">Local: <strong>{{obj.local}}</strong></p>

                            <!--Botones-->
                            {%if request.user.id is not None and request.session.tipo == 'Interno' or request.session.tipo == 'Administrador'%}
                              <!--Botones PC-->
                             <p class="d-none d-sm-block mb-1"><a href="{% url 'lista_compra:borrar_ldc' obj.id%}" class="btn btn-danger"><span data-icon="t"></span> Borrar</a>
                                <a href="{%url 'lista_compra:updatear_ldc' obj.id%}" class="btn btn-primary"><span data-icon="u"></span> Actualizar</a></p>
                              <!--Botones Mobile-->
                             <p class="d-sm-none mb-1"><a href="{% url 'lista_compra:borrar_ldc' obj.id%}" class="btn btn-danger"><span data-icon="t"></span></a>
                                <a href="{%url 'lista_compra:updatear_ldc' obj.id%}" class="btn btn-primary"><span data-icon="u"></span></a></p>
                            {%endif%}
                          </div>
						</div>
                        <div class="col-1 p-0 text-right custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="seleccionar_lista{{obj.id}}" name="{{obj.id}}">
                            <label class="custom-control-label" for="seleccionar_lista{{obj.id}}"></label>
                        </div>
					</div>
				</div>
                {%endfor%}
            {%else%}
            <div class="col-12 text-center">
                <h4>No tienes listas de compras creadas, ve a crear una lista de compra, que esperas?</h4>
            </div>
        {%endif%}
   </form>
</div>


{%endblock%}