{%extends 'core/base.html'%}
{%block title%}Index{%endblock%}
{%block content%}
    <div class="container shadow container-whithe">
        <div class="row">
            <div class="col-12">
                <h1>Esto es el index, en maquetacion</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12"></div>
        </div>

        <div class="row">
            <div class="col-12"></div>
        </div>

        <div class="row">
            <div class="col-12"></div>
        </div>

    </div>
{%endblock%}